<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.candycrush">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icona"
        android:roundIcon="@drawable/icona"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Livello3"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Livello2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Sconfitta"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Vittoria"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Livello1"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Istruzioni"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Livelli"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>